.multi_slider .slick-prev:before,
.multi_slider .slick-next:before {
  color: #db3753 !important;
  opacity: 100 !important;
  font-size: 3rem !important;
}
.multi_slider {
  padding-bottom: 200px;
}
.multi_slider img {
  height: 550px;
  width: 90%;
}
.multi_slider .slick-prev,
.multi_slider .slick-next {
  bottom: 0 !important;
  top: unset !important;
}

.multi_slider .slick-prev {
  left: 0 !important;
}

.multi_slider .slick-next {
  right: 0 !important;
}
.multi_slider .custom-next-arrow {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #db3753;
  color: white;
}
.multi_slider .custom-prev-arrow {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #db3753;
  color: white;
  z-index: 999;
}
