@font-face {
  font-family: Mulish;
  src: url(../fonts/Mulish-VariableFont_wght.ttf) format("truetype");
}

.container-links {
  display: flex;
  justify-content: space-between;
  padding: 3.5rem 0;
  max-width: 1660px;
  margin: auto;
}

.active-link {
  font-weight: 900 !important;
}

.links {
  gap: 25px;
  display: flex;
  align-items: center;
  font-size: 1.1rem;
  font-family: Mulish;
}

.pictarinesGroupe {
  width: 1130px;
  height: 740px;
  inset: 0px;
  object-fit: cover;
}

.xplore {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.xplore-title {
  font-size: 3.5rem;
  font-weight: 400;
  margin-bottom: 2.5rem;
  white-space: nowrap;
  display: flex;
  flex-direction: column;
  line-height: 0.9;
}

.creatifs-title {
  color: #db3753;
  font-weight: 800;
  margin-left: 1rem;
  font-style: italic;
  font-size: larger;
}

.french-flag {
  width: 38px;
  height: 32px;
  cursor: pointer;
}

.container-links-bg-black {
  background-color: #171717;
  & p,
  a {
    color: white !important;
    font-weight: 600;
  }
  & a:hover {
    color: #db3753 !important;
  }
}
