.container-links {
  display: flex;
  justify-content: space-between;
  padding: 3.5rem 3.5rem;
}

.links {
  gap: 20px;
  display: flex;
  align-items: center;
}

.pictarinesGroupe {
  width: 1130px;
  height: 740px;
  inset: 0px;
  object-fit: cover;
}

.xplore {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  & p {
    width: 69%;
  }
}

.xplore-title {
  font-size: 4rem;
  font-weight: 400;
  margin-bottom: 2.5rem;
  white-space: nowrap;
  display: flex;
  flex-direction: column;
  line-height: 0.9;
}

.creatifs-title {
  color: #db3753;
  font-weight: 800;
  margin-left: 2rem;
}

.french-flag {
  width: 38px;
  height: 32px;
  cursor: pointer;
}
