@font-face {
  font-family: Mulish;
  src: url(../fonts/Mulish-VariableFont_wght.ttf) format("truetype");
}
.g-container-cards-problemsolvers {
  margin-top: 3rem;
  margin-bottom: 10rem;
}

.header-container {
  display: flex;
  align-items: center;
  gap: 30px;
  & img {
    width: 100px;
    height: 100px;
  }

  & span {
    font-size: 30px;
    font-family: Mulish;
    font-weight: 700;
  }
}

.container-problemsolvers {
  background-color: #2b2b2b;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 20px;
  & p {
    font-weight: 700;
    font-family: Mulish;
    font-size: 22px;
  }
}
.container-problemsolvers-p {
  background-color: #2b2b2b;
  padding: 1.5rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  & p {
    font-weight: 800;
    font-family: Mulish;
    font-size: 28px;
  }
}

.first-card-problemsolvers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  & h3 {
    font-size: 30px;
  }
  & p {
    font-weight: 700;
    font-family: Mulish;
    font-size: 22px;
  }
}

.last-block-problemsolvers {
  grid-row: 3 / span 1;
  grid-column: 3 / span 2;
  background-color: transparent;
  gap: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  text-align: right;
}
